# Dependencies
node_modules
server/node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Misc
.DS_Store
Thumbs.db
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
uploads/*
!uploads/.gitkeep
.agent/

# Specific Media
src/Images/WhatsApp Image 2025-12-05 at 3.13.02 AM.jpeg
